
<div style="margin:10px auto;">
    <a asp-controller="Manage" asp-action="CreateRole" style="margin-right:10px;">Create</a>|
    <a href="javaScript:void()" id="aDelete">Delete</a>

</div>
<table class="table">

    <thead>
        <tr style="background-color:cadetblue">
            <td>
                <input id="ckAll" type="checkbox"/>
            </td>
            <th>RoleName</th>
            <th>NormalizedName</th>

        </tr>
    </thead>
    <tbody data-bind="foreach: RoleResult">
        <tr>
            <td >
                <input name="ckRole" data-bind="value:roleId" type="checkbox"/>
            </td>
            <td data-bind="text:roleName"></td>
            <td data-bind="text:roleNormalizedName"></td>

        </tr>
    </tbody>

</table>    

<!--Script要放在HTML标签后，才能将值绑定到标签-->
<script type="text/javascript">
    
    //var roleResults= @Html.Raw(Json.Serialize(Model));
    var roleResults = @Json.Serialize(ViewData["RoleResults"]);
    
    function RoleResult(roleId,roleName,roleNormalizedName) {
        var self = this;
        self.roleId = roleId;
        self.roleName = roleName;
        self.roleNormalizedName = ko.observable(roleNormalizedName);
    }


    function AppViewModel() {
        var self = this;
        var roleResult = [];
        for (var i = 0; i < roleResults.length ; i++)
        {
            var id = roleResults[i].Id;
            var name = roleResults[i].Name;
            var normalizedName = roleResults[i].NormalizedName;

            roleResult.push(new RoleResult(id,name,normalizedName));
        }

        self.RoleResult = ko.observableArray(roleResult);
    }

    // Activates knockout.js
    ko.applyBindings(new AppViewModel());


    $("#ckAll").click(function(){    
        if(this.checked){    
            $("[name = ckRole]:checkbox").prop("checked", true);  

        }else{    
            $("[name = ckRole]:checkbox").prop("checked", false); 
        }    
    }); 

    //Delete
    $("#aDelete").click(function(){
        var checkedItems = $('input:checkbox[name="ckRole"]:checked');
        if(checkedItems.length == 0)
        {
            alert("Please select records");
            return ;
        }

        var roleIds =[];
        checkedItems.each(function() //multiple checkbox的name  
        {  
            var id = $(this).val();  
            roleIds.push(id);
        });  
        //delete records
        var jsonRoleIds = JSON.stringify(roleIds);
        $.ajax({
            type: "get",//使用get方法访问后台
            dataType: "json",//返回json格式的数据
            url: "/Manage/BachDeleteByRoleId",
            data: {"RoleIds":jsonRoleIds},
            async:false,
            success: function(message){
                if(message.Success)
                {
                    location.href ="/Manage/IndexForRole";
                }else{
                    alert(message.Content);
                }
               
            }
        });
    });

</script>