@{
    ViewBag.Title = "DpControl";
}

<script>
    $(document).ready(function () {
        $("#aHttpOverrideTitle").click(function () {
            $("#divHttpOverride").toggle();
        });

        $('#myCarousel').carousel({
            interval: 8000,
            pause:'cycle'
        });
    });
        

</script> 
<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/open.jpg" style="height:300px;width:100%"  alt="First slide">
        </div>
        <div class="item">
            <img src="~/images/azure.png" style="height:300px; width:100%" alt="Second slide">
        </div>
        <div class="item">
            <img src="~/images/web.jpg" style="height:300px;" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">&rsaquo;</a>
</div> 
<div class="row">
    <div class="col-xs-12 col-md-12">
        <h3>There are some Features:</h3>
        <ul>
            <li class="lead">Filter by filter
             <p class="text-lowercase">
                 <span class="glyphicon glyphicon-leaf"></span> Return all Customers with CustomerName equal to 'Allen' and CustomerNo equal to '333'<br />
                 <a href="/v1/Customers?filter=CustomerName eq Allen and CustomerNo eq 333">/v1/Customers?filter=CustomerName eq Allen and CustomerNo eq 333</a>
             </p>  
            <p class="text-lowercase">
                <span class="glyphicon glyphicon-leaf"></span> Return all Customers where CustomerId >= 15<br />
                <a href="/v1/Customers?filter=CustomerId gt 15">/v1/Customers?filter=CustomerId gt 15</a>
            </p>
            <p class="text-lowercase">
                <span class="glyphicon glyphicon-leaf"></span> Return all Customers where CustomerId <= 10<br />
                <a href="/v1/Customers?filter=CustomerId lt 10">/v1/Customers?filter=CustomerId lt 10</a>
            </p>
            </li>
            <li class="lead">OrderBy orderby(desc/asc)
                <p class="text-lowercase">
                    <a href="/v1/Customers?orderby=CustomerName,CustomerId,CustomerNo%20desc">/v1/Customers?orderby=CustomerName,CustomerId,CustomerNo desc</a>
                </p>  
            </li>
            <li class="lead">
                Paging by skip and top 
                <p class="text-lowercase">
                    <a href="/v1/Customers?skip=3&top=10">/v1/Customers?skip=3&top=10</a>
                </p>
            </li>
            <li class="lead">
                Support X-HTTP-Method-Override (Via Post to request Put,Patch,Delete)
                <br/>
                <a id="aHttpOverrideTitle" href="#" style="cursor:help">Example</a>
                <div id="divHttpOverride" style="display:none">
                    <img src="~/images/httpOverride.png" style="width:50%"/>
                </div>
            </li>
        </ul>
        
    </div>

</div>


