@{
    ViewData["Title"] = "Home Page";
}
<style>
    

</style>
<body style="background-color:#BBC5C2;">
    <div style="margin:100px 100px;">
        <h1>DpControl WebApi Program</h1>
        <h2>Version:v1</h2>
        
        <label style="font-size:x-large">More Detail,Click: </label><a style="font-size:x-large;" href="/Swagger/ui">API Document</a>
    </div>
</body>
