<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/CssInitialization.css" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    
    <style>

        .divHead {
            padding: 30px 100px;
            padding-top:5px;
            background-color: #12CC18;
        }

        .divContent {
            min-height:500px;
            padding: 50px 100px;
            background-color: azure;
        }

        .divFoot{

            height:100px;
            padding:10px 100px;
            background-color:aqua
        }
        #divHeadRight{
            float:right ;
            width:30%;
        }

        .clear {
            clear :both ;
        }
    </style>
</head>
<body>
    <div class="divHead">
        <div id="divHeadTop">
            <div id="divHeadLeft">&nbsp;</div>
            <div id="divHeadRight">
                @await Html.PartialAsync("_LoginPartial")
                
            </div>
            <div class="clear"></div>
        </div>
        <div id="divHeadBottom">
            <label style="font-size:x-large">Restful WebApi For DpControl v1  </label>
            <label style="font-size:large">More Detail,Click: </label><a style="font-size:large;" href="/Swagger/ui">API Document</a>
        </div>
        
    </div>
    <div class="divContent">
        @RenderBody()
    </div>
    <div class="divFoot">
        Welcome to Padmate 

    </div>
</body>
</html>
