<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.css" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
        <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">

        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/locale/bootstrap-table-zh-CN.min.js"></script>
    </environment>
    <link rel="stylesheet" href="~/css/CssInitialization.css" />

    <script src="~/lib/knockout/dist/knockout.js"></script>
    <script src="~/lib/layer/layer.js"></script>
    

    <style>

        .divHead {
            padding: 30px 100px;
            padding-top:5px;
            background-color: #A4ACAD;
        }

        .divContent {
            min-height:300px;
            padding: 50px 100px;
            background-color: azure;
        }

        .divFoot{

            height:100px;
            padding:10px 100px;
            background-color:#D9EDF7
        }
        #divHeadRight{
            float:right ;
            width:30%;
        }

        .clear {
            clear :both ;
        }


        a{
            color:red
        }
        a:hover, a:focus
        {
            color:yellow;
            text-decoration:underline;
        }
        
    </style>
</head>
<body>
    <div class="divHead">
        <div id="divHeadTop">
            <div id="divHeadLeft">&nbsp;</div>
            <div id="divHeadRight">
                @await Html.PartialAsync("_LoginPartial")

            </div>
            <div class="clear"></div>
        </div>
        <div id="divHeadBottom">
            <label style="font-size:x-large"><a class="aHome" href="/" style="text-decoration:none;color:black">Restful WebApi For DpControl v1  </a></label>
            <label style="font-size:large">More Detail,Click: </label><a style="font-size:large;" href="/Swagger/ui">API Document</a>
            <br />
            <label><a href="http://192.168.20.239:8080/bugnet" target="_blank"  style="color:#EEE">DpControl Project Management</a></label>
        </div>

    </div>
    <div class="divContent">
        @RenderBody()
    </div>
    <div class="divFoot">
        Welcome to Padmate

    </div>
</body>
</html>
