@using System.Security.Claims

@if (User.IsSignedIn())
{
    <ul class="nav navbar-nav navbar-right">

        <li>
            <a href="#"><label class="text-danger">Hello @User.GetUserName()!</label></a>
        </li>
        <li><a asp-controller="Home" asp-action="Index">Go to</a></li>

    </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="InitAdmin">Initialize Administrator</a></li>
        <li><a asp-controller="Account" asp-action="Login" target="_blank">Sign In</a></li>
    </ul>
}
