@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
       
        <ul class="nav navbar-nav navbar-right">

            <li>
                <a href="#"><label class="text-danger">Hello @User.GetUserName()!</label></a>
            </li>
            <li><a asp-controller="Manage" asp-action="IndexForRole" >Add Role</a></li>
            <li><a asp-controller="Manage" asp-action="IndexForUser" >Add User</a></li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" >注销</a>
            </li>
        </ul>
           
    </form>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="InitAdmin">Initialize Administrator</a></li>
        <li><a asp-controller="Account" asp-action="Login">Sign In</a></li>
    </ul>
}
